@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  background: #E9E4D6;
  font-family: 'Manrope', sans-serif;
  color: #14201F;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #d8d2bf;
  border-radius: 4px;
}
